<article class="post-single">

  <header class="post-header">

    <h1 class="post-title">Hi <img src="https://raw.githubusercontent.com/shalemrajkumar/shalemrajkumar/master/gif/Hi.gif"  width="43px" style="display: inline; vertical-align: middle;">, I'm Rajkumar.</h1>
  
  </header>

  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
    {{- partial "social_icons.html" -}}
  </div>

</article>
